body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.career-container {
    display:flexbox;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff9800;
    padding: 10px;
    border-radius: 8px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.user-info {
    color: white;
}

