.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 50px;
}
.top-section{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.bottom-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
