.body{
    background-color: blue;
}
.top-section{
    display:flex;
    justify-content: center;
    align-items: center;
}
.bottom-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
